@import "./assets/css/animate.min.css";

body {
  min-height: 100vh;
  height: max-content;
  margin: 0;

  #root {
    min-height: 100vh;
    height: max-content;
  }

  .text-bold {
    font-weight: 500;
    margin: 0;
  }
}
